// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation";
@import "https://fonts.googleapis.com/css?family=Mukta";

body {
  background-color: #5D7697;
}

.welcomeTitle h1{
  margin-top: 30px;
  margin-bottom: 50px;
  color: #FFB629;
  font-family: 'Mukta', sans-serif;
}

table {
  border: 10px solid #D4D4D4;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

h4 {
  color: #5D7697
}

nav a{
  margin-right: 10px;
  margin-left: 10px;
}

.costCurve{
  border: 10px solid #D4D4D4;
}

.dataCell{
  text-align: center;
  &:hover {
    background-color: #FFB629;
    cursor: pointer;
  }
}

.row{
  text-align: center
}


.PatientIndex {
  border: 2px solid #D4D4D4;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white
}

.expanded{
  max-width: 100%;
}

.patientInfo, .patientDiagnoses, .patientVisits, .edVisitInfoTile, .patientAdmissions, .admissionInfoTile, .proceduresInfoTile{
  border: 5px solid #D4D4D4;
  background-color: white;
  height: 500px;
  font-size: 20px;
  font-weight: bold;
}

.admissionHeader {
  text-align: center
}

.edVisitHeader {
  text-align: center
}

.edHeader{
  transform: rotate(270deg);
}

.diagnosisShowTile, .visitInfo, .admissionInfo,.admissionShowTile, .edVisitShowTile, .procedureShowTile, .demographicsShowTile{
  text-align: left;
  margin-top: 10px;
}

.procedureHead, .costHead{
  text-decoration: underline;
}

.xAxis{
  padding-left: 20px;
  margin-top: 150px;
  padding-right: 0px;
  color: #D4D4D4;
}

.yAxis{
  color: #D4D4D4;
}

.diseaseStateTile{
  margin-top: 50px;
}

.gmap {
  margin-top: 100px;
  margin-bottom: 40px;
}

.signIn{
  margin-top: 20px;
  h1{
    color: #FFB629;
    font-family: 'Mukta', sans-serif;
    font-size: 500%;
  }
  h3{
    color: #D4D4D4;
    padding-bottom: 20px;
  }
  input[type="submit"] {
    background-color: #D4D4D4;
    cursor: pointer;
  }
  label[for="user_email"], label[for="user_password"]{
    pointer-events: none;
    font-weight: bold;
  }
}

.errorMessages{
  width: 200px;
  font-weight: bold;
  margin-top: 20px;
  color: #D4D4D4;
  size: 200%
}

.curveToggle, .chartToggle{
  a{
    font-weight: bold;
    color: #D4D4D4
  }
  p{
    color: #5D7697;
    cursor: pointer;
  }

}
