// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation";


body {
  background-color: #5D7697;
}

table {
  border: 10px solid #D4D4D4;
  justify-content: center;
  margin: auto
}

.dataCell{
  text-align: center;
  &:hover {
    background-color: #FFB629;
    cursor: pointer;
  }
}

.row{
  text-align: center
}


.PatientIndex {
  border: 2px solid #D4D4D4;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  background-color: white
}

.expanded{
  max-width: 100%;
}

.patientInfo, .patientDiagnoses, .patientVisits, .patientAdmissions{
  border: 5px solid #D4D4D4;
  background-color: white;
  height: 500px;
  font-size: 20px;
  font-weight: bold;
}

.admissionHeader {
  text-align: center
}

.edVisitHeader {
  text-align: center
}

.edHeader{
  transform: rotate(270deg);
}


.diagnosisShowTile, .admissionShowTile, .edVisitShowTile, .demographicsShowTile{
  text-align: left;
  margin-top: 15px;
}
